{{ define "content" }}

<style>
  .title {
    margin-bottom: 0px;
  }

  .summary {
    margin-left: 50px;
    margin-top: 0px;
  }
</style>

<h1>All Documents</h1>

<form action="/new?redirect" method="post">
  <button>Add Document</button>
</form>

<div class="row">
  {{ range $key, $doc := . }}
    <div>
      <p class="title"><a href="/{{ $doc.Slug }}/{{ $doc.Id }}">{{ $doc.Title }}</a>
      {{ if $doc.IsDraft }}
        (draft)
      {{ end }}
      </p>
      <p class="summary">{{ $doc.Summary }}</p>
    </div>
  {{ end }}
</div>

{{ end }}
