{{ define "content" }}
<h1>{{ $.Metadata.Title }}</h1>

<form action="/doc/{{ $.Id }}/save?redirect" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{ .Metadata.Title }}"><br><br>

    <label for="summary">Summary:</label>
    <textarea id="summary" name="summary" rows="4" cols="50">{{ .Metadata.Summary }}</textarea>

    <div>
      <button  name="save" id="save" type="submit" value="save">Save</button>
      {{ if .IsDraft }}
        <button name="post" id="post" type="submit" value="post">Post</button>
      {{ else }}
        <button name="draft" id="draft" type="submit" value="draft">Mark as draft</button>
      {{ end }}
    </div>
</form>

<div>
  <p>slug: {{ $.Metadata.Slug }}</p>
  <p>id: {{ $.Id }}</p>
</div>
{{ end }}
