{{ define "layout" }}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="textodb - a text database of sorts">
    <meta name="author" content="hector@hectorcorrea.com">
    <title>textodb</title>
  </head>

  <body>
    <h1>textodb</h1>
    <hr/>

    <div class="container">
      {{ template "content" . }}
    </div>

    <hr/>
    <h4>textodb on <a href="https://github.com/hectorcorrea/textodb" target="_blank">GitHub</a>.</h4>
</body>
</html>
{{ end }}
